header {
  min-height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
}

header .logo {
  flex: 1;
}
header .logo img {
  width: 250px;
}

header a {
  text-transform: uppercase;
  color: var(--primary-color);
}

header ul li {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  padding: 0 20px;
}
header ul li:hover {
  font-weight: bolder;
  transition: all 0.2s ease-in-out;
}

header .menu {
  display: none;
}
header .cart-icon {
  font-size: 35px;
  position: relative;
  margin-right: 20px;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
header .cart-icon:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

header .cart-icon span {
  background: var(--primary-color);
  border-radius: 20px;
  color: var(--secondary-color);
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 7px;
  font-size: 10px;
}
