header {
  min-height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
}
header svg {
  font-size: 50px;
}
header .logo {
  width: 300px;
}
header .user {
  display: flex;
  width: 500px;
  justify-content: flex-end;
}
header .user_box {
  display: flex;
  color: var(--light-color);
  margin: 0 50px;
}
header .user_box span {
}
header .user a {
  color: var(--dark-color);
  margin: 0 5px;
}
header .cart-icon {
  font-size: 35px;
  position: relative;
  margin-right: 20px;
}
header .cart-icon a {
  color: var(--light-color);
}
header .cart-icon span {
  background: var(--dark-color);
  border-radius: 20px;
  color: var(--light-color);
  position: absolute;
  top: -2px;
  right: -2px;
  padding: 7px 9px;
  font-size: 10px;
}
