header {
  min-height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
}
header svg {
  font-size: 50px;
}
header .logo {
  width: 300px;
}
header .box {
  display: flex;
}
header .user {
  display: flex;
  margin: 0 10px;
  color: var(--light-color);
}
header .user span {
  width: 230px;
  overflow-wrap: break-word;
}
header .user a {
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--secondary-dark-color);
  margin: 0 5px;
}
header .cart-icon {
  font-size: 35px;
  position: relative;
  margin-right: 20px;
}
header .cart-icon a {
  color: var(--light-color);
}
header .cart-icon span {
  background: var(--dark-color);
  border-radius: 20px;
  color: var(--light-color);
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 7px 9px;
  font-size: 10px;
}
