/*************** Font Family ****************/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*************** Reset ****************/
@import url('./reset.css');

/***** Variaveis *****/
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ed3237;

  --primary-color: #212121;

  --secondary-color: #b282e5;
  --secondary-dark-color: #401648;

  --dark-color: #ff671c;
  --light-color: #fafafa;

  --box-primary-shadow: 0px 0px 100px 20px rgba(17, 17, 17, 1);
  --box-secondary-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);

  --font-family: Nunito, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: var(--primary-color);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  background-color: var(--primary-color);
  max-width: 1230px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
}

/*************** Header ****************/
@import url('../../components/Headers/styleHeader.css');

/*************** Produto ****************/
@import url('../../pages/products/styleProduct.css');

/*************** Item Produto ****************/
@import url('../../pages/products/styleProductItem.css');

/*************** Detalhe Produto ****************/
@import url('../../pages/products/styleProductDetail.css');
