.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  margin: 20px 0;
}

/************ Produto item **************/
.product_card {
  max-width: 300px;
  background-color: var(--light-color);
  overflow: hidden;
  height: 500px;
  border-radius: 4px;
  margin: 10px 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.product_img {
  display: flex;
  justify-content: center;
}
.product_img img {
  height: 200px;
  display: block;
  object-fit: cover;
}
.product_box {
  height: 130px;
  margin: 10px 10px;
}
.product_box h2 {
  width: 100%;
  text-overflow: ellipsis;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: bolder;
  margin: 10px 0;
}
.product_box p {
  width: 100%;
  opacity: 0.7;
  height: 120px;
  overflow: hidden;
  color: var(--primary-color);
}
.product_star {
  margin: 0 0px 5px 5px;
}
.product_price {
  padding: 10px;
  height: 100px;
  color: var(--secondary-color);
}
.product_price span {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: bolder;
}
.product_price p {
  border-top: 1px dotted var(--primary-color);
  color: var(--primary-color);
  margin-top: 10px;
  padding: 10px;
  opacity: 0.8;
  font-weight: 100;
}
